.wrap{
	overflow:scroll;
	position:relative;
	height:100%;
	white-space:nowrap;
}
.wrap::-webkit-scrollbar{
	display:none;
}
.wrap>*{
	display:inline-table;
	width:100%;
	margin:0;
}
.pre{
	position:relative;
}
.pre>i{
	position:absolute;
	z-index:100;
	top:calc(50% - 40px);
	left:0;
	color:white;
	font-size:80px;
	cursor:pointer;
}
.pre>i:hover{
	background:rgba(0, 0, 0, .5);
}
.pre>i:last-of-type{
	right:0;
	left:auto;
}
.nate{
	position:absolute;
	bottom:10px;
	left:0;
	width:100%;
	text-align:center;
}
.nate>i{
	display:inline-table;
	width:10px;
	height:10px;
	border-radius:50%;
	background:white;
	cursor:pointer;
}
.nate>i.now{
	background:black;
	pointer-events:none;
}
.nate>i~i{
	margin:0 0 0 10px;
}
